script(src="http://7xkuii.com1.z0.glb.clouddn.com/cryptico.js")
script(src="http://7xkuii.com1.z0.glb.clouddn.com/jsbn.js")
script(src="http://7xkuii.com1.z0.glb.clouddn.com/rsa.js")
script(src="http://7xkuii.com1.z0.glb.clouddn.com/pwd_rsa_encode.js")
script(src="http://7xkuii.com1.z0.glb.clouddn.com/register.js")

br
.panel.panel-default(style='background-color:#FFF')
    .panel-body
        h2 #{lan.title.register}
        br
        input#emladdr.form-control(type="email" placeholder="#{lan.input.emladdr}" required=true value="#{fill_emladdr}")
        input#pwd.form-control(type="password" placeholder="#{lan.input.password}" required=true)
        input#rpwd.form-control(type="password" placeholder="#{lan.input.repassword}" required=true)
        p(style='font-size:14px') &nbsp;&nbsp;
            !=lan.hints.password_format
        br
        button.btn.btn-md.btn-success.btn-block#regbtn #{lan.button.register}
        br
        p
            a(style='float:left;font-size:14px;font-weight:400' href="#" onclick="window.location.href = '?fill_emladdr=' + encodeURI($('#emladdr').val());") #{lan.a.login}
        br