extends base
block content
    script(src="../../passport/javascripts/cryptico.js")
    script(src="../../passport/javascripts/jsbn.js")
    script(src="../../passport/javascripts/rsa.js")
    script(src="../../passport/javascripts/pwd_rsa_encode.js")
    script(src="../../passport/javascripts/changepwd.js")

    div.container
        div(style="margin-left:auto;margin-right:auto")
            br
            .panel.panel-default(style='background-color:#E1E1E1')
                .panel-body
                    div(style='text-align:center')
                        h2 #{lan.title.change}
                    br
                    input#opwd.form-control(type="password" placeholder="#{lan.input.opwd}" required=true)
                    input#npwd.form-control(type="password" placeholder="#{lan.input.npwd}" required=true)
                    input#rnpwd.form-control(type="password" placeholder="#{lan.input.repassword}" required=true)
                    p &nbsp;&nbsp;
                        !=lan.hints.password_format
                    br
                    button#changebtn.btn.btn-md.btn-warning.btn-block #{lan.button.change}
                    br
                    p