extends layout
block content
    script(src="http://7xkuii.com1.z0.glb.clouddn.com/welcome.js")
    .jumbotron(style="background-color:#495A80")
        .container
            h1(style="color:#EEEEFF") #{lan.title.info_rep}
            br
            br
            p(style="text-align:right;color:#EEEEFF") #{lan.sub_title.info_rep}
    .container
        #user(style="text-align:right")
            .btn-group
                button.btn.btn-lg.btn-primary(onclick="window.open('http://passport.cassite.net/');sweetAlert('Refresh to update login state.')") #{lan.button.login}
                button.btn.btn-lg.btn-default(onclick="window.open('http://passport.cassite.net/?register');sweetAlert('Refresh to update login state.')") #{lan.button.register}
        #hiddenUser(style="text-align:right;display:none")
            button.btn.btn-lg.btn-success#toCenter #{lan.button.go_user}
        h2 #{lan.sub_title.features}
        .row(style="margin-left:3%;width=97%")
            .col-xs-4
                h3 #{lan.sub_title.access}
                !=lan.text.access
            .col-xs-4
                h3 #{lan.sub_title.group}
                !=lan.text.group
            .col-xs-4
                h3 #{lan.sub_title.encrypt}
                !=lan.text.encrypt